In [68]:
import pandas as pd
import numpy as np
import tensorflow
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [69]:
df

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_Germany,Geography_Spain,Gender_Male
0,619,42,2,0.00,1,1,1,101348.88,1,0.0,0.0,0.0
1,608,41,1,83807.86,1,0,1,112542.58,0,0.0,1.0,0.0
2,502,42,8,159660.80,3,1,0,113931.57,1,0.0,0.0,0.0
3,699,39,1,0.00,2,0,0,93826.63,0,0.0,0.0,0.0
4,850,43,2,125510.82,1,1,1,79084.10,0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0.0,0.0,1.0
9996,516,35,10,57369.61,1,1,1,101699.77,0,0.0,0.0,1.0
9997,709,36,7,0.00,1,0,1,42085.58,1,0.0,0.0,0.0
9998,772,42,3,75075.31,2,1,0,92888.52,1,1.0,0.0,1.0
9999,792,28,4,130142.79,1,1,0,38190.78,0,0.0,0.0,0.0

In [70]:
df=pd.read_csv(r"C:\Users\AMIT SAHU\Desktop\December Challenge\Churn_Modelling.csv")
df.drop(columns=["RowNumber","Surname","CustomerId"],inplace=True)
df=pd.get_dummies(df,columns=["Geography","Gender"],drop_first=True,dtype=float)

In [71]:
x=df.drop(columns="Exited",axis=1)
y=df["Exited"]

In [72]:
from sklearn.preprocessing import StandardScaler
scaler=StandardScaler()
x_scaled=scaler.fit_transform(x)
x_scaled.shape

(10000, 11)

In [73]:
x_train,x_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.2,random_state=2)
x_train

array([[ 1.27752881, -1.23214003, -0.00442596, ..., -0.57873591,
        -0.57380915, -1.09598752],
       [-0.50211661,  0.29351742,  0.34135195, ...,  1.72790383,
        -0.57380915, -1.09598752],
       [ 0.67741582, -0.08789694, -1.38753759, ..., -0.57873591,
        -0.57380915, -1.09598752],
       ...,
       [ 2.06388377, -0.27860412, -0.69598177, ..., -0.57873591,
        -0.57380915,  0.91241915],
       [-1.02980217,  1.43776051, -0.00442596, ...,  1.72790383,
        -0.57380915,  0.91241915],
       [ 0.03591573, -1.04143285,  0.68712986, ..., -0.57873591,
        -0.57380915, -1.09598752]])

In [74]:
model=Sequential()

In [75]:
model.add(Dense(3,activation="sigmoid",input_dim=11))
model.add(Dense(1,activation="sigmoid"))

c:\Users\AMIT SAHU\AppData\Local\Programs\Python\Python311\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [76]:
model.summary()

Model: "sequential_3"

┏━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━━━━━━━━━━┳━━━━━━━━━━━━━━━┓
┃ Layer (type)                    ┃ Output Shape           ┃       Param # ┃
┡━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━━━━━━━━━━╇━━━━━━━━━━━━━━━┩
│ dense_2 (Dense)                 │ (None, 3)              │            36 │
├─────────────────────────────────┼────────────────────────┼───────────────┤
│ dense_3 (Dense)                 │ (None, 1)              │             4 │
└─────────────────────────────────┴────────────────────────┴───────────────┘

 Total params: 40 (160.00 B)

 Trainable params: 40 (160.00 B)

 Non-trainable params: 0 (0.00 B)

In [77]:
model.compile(loss='binary_crossentropy',optimizer="Adam")

In [1]:
history=model.fit(x_train,y_train,epochs=100)

NameError: name 'model' is not defined

In [88]:
model.layers[0].get_weights()

[array([[-1.61317229e-01,  3.47053111e-02,  1.11010350e-01],
        [ 3.67080379e+00,  1.69504151e-01, -2.78340054e+00],
        [ 5.03866561e-02,  1.62506308e-02,  3.07678759e-01],
        [ 2.40394380e-02, -5.78425050e-01, -1.49946904e-03],
        [-1.64657235e-01,  2.81449229e-01, -1.84365094e-01],
        [ 2.46930972e-01,  4.47246153e-03,  3.30471426e-01],
        [ 1.42775476e+00,  2.38583255e+00, -5.49524844e-01],
        [-2.07822144e-01, -2.80955672e-01, -1.37687802e-01],
        [-2.07883611e-01, -7.79388070e-01, -1.09878004e+00],
        [ 1.44304752e-01, -1.16992794e-01,  2.67469794e-01],
        [-4.57822271e-02,  6.31093681e-01,  5.44240892e-01]], dtype=float32),
 array([-0.2939817 , -0.00970772,  0.52310365], dtype=float32)]

In [79]:
pred=model.predict(x_train)
pred=np.where(pred>0.5,1,0)

250/250 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

In [80]:
acc=accuracy_score(pred,y_train)
print(acc)

0.83675